body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width:150px;
  height:150px;
}
#scroll {
  margin:2px, 2px;
  padding:2px;
  width: 300px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align:justify; */
}

.grey {
  background-color: lightgray;
}

.meta-right {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}

.meta { 
  display: inline-block;
  width: 150px;
}
/* table {
  border: 1px solid rgb(0, 0, 0);
  vertical-align: top;
} */
tr {
  vertical-align: top;
}
td {
  vertical-align: top;
}
/* span.dataPane {
  height: 500px
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
